<div>
  <h2>Looka These Fun Places</h2>
  <div>
    <% @restaurants.each do |restaurant|%>
      <h3> <%= link_to restaurant.name, restaurant_path(restaurant) %> </h3>
    <% end %>
  </div>

    <div>
    <%= link_to "New Restaurant", new_restaurant_path %>
  </div>
</div>
